.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 2em;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    display: block;
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
    text-align: center;

    img {
      height: 100%;
      width: 100%;
    }
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  

  p { color: #2c3e58 }

  .buttons button {
      background-color: lightgrey;
      border: none;
      color:#0b3861;
      padding: 5%;
      text-align: center;
      text-decoration: none;
      font-size: 2.5vw;
      font-weight: bold;
      border-radius: 5px;
      height: 45%;
      width: 45%;
      cursor: pointer;
      margin-left: 0.3em;
  }

  .bbuttons:after {
    content: "";
    clear: both;
    display: table;
  }
  

  