.templateHeader {
  padding: 0 55px;
}

.splashLogo {
  margin-top: 10em;
  height: 500px;
  width: 300px;
  margin-bottom: 10em;
}

.Splash {
  text-align: center;
}

.SplashText {
  font-size: 6em;
  font-family: 'Courgette', cursive;
}

.SplashButton {
  background-color: #bed8f1;
  border: none;
  color:#0b3861;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 5em;
  height: 100px;
  width: 300px;

}