.templateHeader {
  padding: 0 55px;
}

.splashLogo {
  margin-top: 10em;
  height: 500px;
  width: 300px;
  margin-bottom: 10em;
}


.SplashText {
  font-size: 6em;
  font-family: 'Courgette', cursive;
}