
html, body {
  margin: 0;
  height: 100%;
  background-color: var(--threeover3-backgroundColor);
}

body {
  margin: 0;
  padding: 0;
  background-image: var(--threeover3-backgroundImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--threeover3-primaryTextColor);
}


.splash {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 0px;
}

.splashText {
  text-align: center;
  padding-top: 0px;
}

.logo {
  content: var(--threeover3-logo);
  max-width:100%;
  max-height:100%;
}